@import url('https://fonts.googleapis.com/css2?family=Pacifico&EB+Garamond:ital@0;1&Dancing+Script&family=Permanent+Marker&family=Poppins&family=Raleway:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-main: 'Montserrat', sans-serif;
    --font-brand: 'Permanent Marker', cursive;
    --font-cursive: 'EB Garamond', cursive;
    --main-blue: #2EA1DA;
    --main-pink: #E83879;
    --main-orange: #FBB845;
    --main-beige: #F4E8D0;
    --main-green: #89ec5b;
}

body#colorBody {
    position: relative;
    background-color: #2d2c6c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);
    z-index: 1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

section#sectionTop {
    width: 100vw;
    height: 100vh;
}

section#sectionTop nav.navbar-mine ul.sidenav button.button-outline-warning {
    background-color: transparent;
    background-color: #2d2c6c;
    font-size: 1rem;
    text-align: center;
    width: 200px;
    height: 24px;
    padding: 6px 12px;
    margin-left: 15px;
    color: white;
    border: 0;
    position: absolute;
    top: 0.4rem;
    right: 10rem;
    transition: all 0.3s;
    font-family: 'Open Sans Condensed', sans-serif;
}

section#sectionTop nav.navbar-mine ul.sidenav button.button-outline-warning:hover {
    color: rgba(68, 68, 68, 0.9);
    background-color: rgba(255, 255, 255, 0.287);
    border-top: 1px solid rgba(68, 68, 68, 0.9);
    border-bottom: 1px solid rgba(68, 68, 68, 0.9);
    width: 240px;
    height: 24px;
    margin-left: 15px;
    right: 9rem;
    z-index: 2;
    transition: all 0.3s;
    letter-spacing: 2px;
}


/* animate blocks */

div.block {
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

div.block:nth-child(3n+2) {
    background: #4443A3;
}

div.block:nth-child(3n+3) {
    background: rgba(68, 68, 68, 0.9);
}


/* END animate blocks */


/* navbar */

section#sectionTop nav.navbar-mine {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 0;
    padding: 0;
    width: 100vw;
    height: 49px;
}

section#sectionTop nav.navbar-mine ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid #e7e7e7; */
    background-color: #f3f3f35d;
    width: 100vw;
    height: 50px;
}

section#sectionTop nav.navbar-mine ul.sidenav li {
    float: left;
    padding: 0 16px 0 16px;
    width: 100px;
    height: 49px;
}

section#sectionTop nav.navbar-mine ul.sidenav li.remove-padding {
    padding-left: 0;
}

section#sectionTop nav.navbar-mine ul.sidenav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 0 16px;
    text-decoration: none;
    width: 100px;
    height: 49px;
}

section#sectionTop nav.navbar-mine ul.sidenav li a:hover:not(.active) {
    background-color: #ddd;
    color: #666;
    font-weight: 500;
}

section#sectionTop nav.navbar-mine ul.sidenav li a.active {
    color: white;
    background-color: #6664d5;
}

section#sectionTop nav.navbar-mine ul.sidenav li a:hover.active {
    color: #666;
    background-color: whitesmoke;
    font-weight: 500;
}


/* END navbar */